name: Build Report + Project ShadowJar and deploy to GitHub Releases
on:
  push:
    branches:
      - master

jobs:
  Setup-Compile-Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.28
      - name: Compile LaTeX
        uses: DanySK/compile-latex-action@2.2.7
      - name: Build and Check Gradle
        uses: DanySK/build-check-deploy-gradle-action@4.0.23
        continue-on-error: true
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
      - name: Fetch tags
        run: git fetch --tags
      - name: Autotag
        id: autotag
        uses: DanySK/semver-autotag-action@0.1.0
      - name: Get created tag
        id: get_tag 
        shell: bash
        run: |
          TAG=$(git describe --tags --exact-match HEAD 2>/dev/null || echo "")
          echo "VERSION=$TAG" >> $GITHUB_ENV
      - uses: ncipollo/release-action@v1.20.0
        name: Create GitHub Release
        with:
          artifacts: "build/libs/*-all.jar, report/report.pdf"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.VERSION }}