name: Build LaTeX and deploy on GitHub Releases
on:
  push:
    paths:
      - 'report/**'
    branches:
      - master
    

jobs:
  Setup-Compile-Deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: DanySK/compile-and-publish-all-latex@2.2.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}